/* Variables */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global */

:root {
  --color-black-01: #000;
  --color-black-02: rgb(30, 30, 30);
  --color-white-01: #fff;
  --color-white-02: #f9f5f0;
  --color-white-03: #f3f7f9;
  --color-white-04: #f1f5f7;
  --color-white-05: #c5c5c5;
  --color-white-06: #a9a9a9;
  --color-white-07: #f1f1f1;
  --color-white-08: #e5e5e5;
  --color-white-09: #544a3e;
  --color-white-10: #d7dcde;
  --color-white-11: #ababab;
  --color-white-12: #cfcfcf;
  --color-white-13: #b5b5b5;
  --color-white-14: #e9e9e9;
  --color-white-a-01: rgba(255, 255, 255, 1.0);
  --color-white-a-02: rgba(255, 255, 255, 0.5);
  --color-white-a-03: rgba(255, 255, 255, 0.3);
  --color-red-01: #ee3643;
  --color-red-02: #ca2c37;
  --color-red-03: #ba2732;
  --color-red-04: #b52933;
  --color-red-05: #FF5357;
  --color-green-01: #8ed78f;
  --color-green-02: #63a63e;
  --color-green-03: #5fbb2d;
  --color-green-04: #518534;
  --color-green-05: #367315;
  --color-green-06: #00ca74;
  --color-blue-01: #3bbce3;
  --color-blue-02: #405069;
  --color-blue-03: #32425c;
  --color-blue-04: #293449;
  --color-blue-05: #212a3a;
  --color-blue-06: #1d2739;
  --color-blue-07: #161d29;
  --color-blue-08: #3d546f;
  --color-blue-a-01: rgba(41, 52, 73, 0.5);
  --color-yellow-01: #ffd180;
  --color-yellow-02: #ffc047;
  --color-yellow-03: #ffbf47;
  --color-yellow-04: #f7f3ec;
  --color-purple-01: #dc91d8;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
	padding: 0;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: var(--basic-black);
	background-color: var(--basic-white);
}


/* Стиль кнопки */

.button {
  display: block;

  padding-top: 11px;
  padding-bottom: 9px;

  color: var(--color-white-01);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  background-color: var(--color-red-01);
}

.button:hover,
.button:focus {
  background-color: var(--color-red-02);
}

.button:active {
  background-color: var(--color-red-03);
}

/* header */

.header-main {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--color-white-03);
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue-04);
}

.header-top .wrapper {
  display: flex;
}

/* лого */

.logo-header {
  display: flex;
  width: 220px;
  min-height: 42px;
  cursor: pointer;
  color: var(--color-white-01);
  background-color: var(--color-red-01);
  box-shadow: 0 5px 0 var(--color-red-04);
  justify-content: center;
  align-items: center; 
}

.logo-header:hover,
.logo-header:focus {
  background-color: var(--color-red-02);
}

.logo-header:active {
  background-color: var(--color-red-03);
} 

.header-search {
  position: relative;
  width: 270px;
  height: 42px;
}

.header-search .search-input {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 43px;
  background-color: transparent;
  width: 100%;
  border: none;
}

.header-search::before {
  content: "";
  width: 17px;
  height: 17px;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  opacity: 0.3;
  position: absolute;
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-search:hover::before {
  opacity: 1;
}

.search-input:focus {
  background-color: var(--color-white-01);
}

.search-input:focus + .search-icon::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  background-image: url(../img/icon-search-focus.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.search-input::-webkit-input-placeholder {
  color: var(--color-white-01);
  opacity: 1;
}

.search-input::-moz-placeholder {
  color: var(--color-white-01);
  opacity: 1;
}

.search-input::placeholder {
  color: var(--color-white-01);
  opacity: 1;
}

.user-controls-buttons {
  display: grid;
  margin-left: auto;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.bookmarks-btn {
  margin-left: auto;
}

.bookmarks-btn,
.basket-btn,
.purchase-btn {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  box-sizing: border-box;
  min-width: 150px;
  padding: 9px 0;
  text-align: center;
  text-decoration: none;
  color: var(--color-white-01);
}

.bookmarks-btn:hover,
.bookmarks-btn:focus {
  background-color: var(--color-blue-05);
}

.basket-btn:hover,
.basket-btn:focus {
  background-color: var(--color-blue-05);
}

.purchase-btn:hover,
.purchase-btn:focus {
  background-color: var(--color-blue-05);
}

.bookmarks-btn:hover::before,
.bookmarks-btn:focus::before {
  opacity: 1.0;
}

.basket-btn:hover::before,
.basket-btn:focus::before {
  opacity: 1.0;
}

.purchase-btn:hover::before,
.purchase-btn:focus::before {
  opacity: 1.0;
}

.bookmarks-btn:active,
.basket-btn:active,
.purchase-btn:active {
  color: var(--color-white-a-02);
  background-color: var(--color-blue-07);
}

.bookmarks-btn:active::before,
.basket-btn:active::before,
.purchase-btn:active::before {
  opacity: 0.3;
}

.bookmarks-btn {
  padding-left: 44px;
  text-align: left;
}

.bookmarks-btn::before {
  position: absolute;
  top: 12px;
  left: 20px;
  content: url('../img/icon-bookmark.svg');
  opacity: 0.3;
}

.basket-btn {
  padding-left: 49px;
  text-align: left;
}

.basket-btn::before {
  position: absolute;
  top: 11px;
  left: 26px;
  content: url('../img/icon-cart.svg');
  opacity: 0.3;
}

.user-controls-buttons .active {
  background-color: var(--color-red-01);
}

.purchase-btn {
  background-color: var(--color-green-02);
}

.purchase-btn:hover,
.purchase-btn:focus {
  background-color: var(--color-green-03);
}

.purchase-btn:active {
  color: var(--color-white-a-02);
  background-color: var(--color-green-02);
}

/* header middle*/

.header-middle {
  padding-top: 43px;
  padding-bottom: 60px;
}

.header-middle-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 40px;
}

.header-title {
  width: 300px;
  padding-left: 30px;
  padding-right: 70px;
  margin: 0;
  align-items: center;
  color: var(--color-red-01);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;  

  box-sizing: border-box;
}

.header-contacts {
  width: 300px;
}

.header-phone {
  font-size: 21px;
  font-weight: 700;
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 3px;
  padding: 10px 0 11px 30px;
  text-align: center;
  text-decoration: none;
  color: var(--color-red-01);
  border: 3px solid var(--color-white-01);

  box-sizing: border-box;
}

.header-phone::before {
  position: absolute;
  top: 10px;
  left: 36px;
  content: url(../img/icon-phone.svg);
}

.header-address {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: var(--color-blue-03);
}

.main-nav {
  max-width: 330px;
  margin-top: 46px;
  margin-left: auto;
}

.user_nav_control {
  width: 300px;
}

.header-login{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.login-btn {
  margin-right: 10px;
  font-size: 21px;
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 45px;
  padding: 13px 27px;
  padding-left: 45px;
  text-align: center;
  text-decoration: none;
  color: var(--color-black-01);
  background-color: var(--color-white-01);  
}

.login-btn::before {
  content: "";
  width: 20px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  position: absolute;
  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.login-btn:hover::before,
.login-btn:focus::before {
  content: "";
  width: 20px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  position: absolute;
  background-image: url(../img/icon-login-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}


.login-btn:hover,
.login-btn:focus {
  color: var(--color-red-01);
}

.login-btn:active {
  color: var(--color-white-05);
}

.login-btn:active::before {
  opacity: 0.3;
}

.register-btn {
  font-size: 21px;
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 45px;
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  color: var(--color-black-01);
  background-color: var(--color-white-01);
}

.register-btn:hover,
.register-btn:focus {
  color: var(--color-red-01);
}

.register-btn:active {
  color: var(--color-white-05);
}

/* User login Равшан Джумшутович */

.user-profile {
  display: flex;
  position: relative;
  width: 299px;
  min-height: 45px;
  background-color: var(--color-white-01);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 17px;
  margin-bottom: 5px;
}

.user-profile .user-btn {
  color: var(--color-black-01);
  font-size: 21px;
  line-height: 21px;
  padding-left: 40px;
}

.user-btn::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
  opacity: 0.3;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.user-btn:hover::before,
.user-btn:focus::before {
  opacity: 1;
}

.user-btn:active::before {
  opacity: 0.3;
}

.user-btn:active {
  color: var(--color-white-05);
}

.logout-btn {
  display: block;
  width: 20px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  margin-left: 20px;
}

.logout-btn:hover,
.logout-btn:focus {
  opacity: 1;
}

.logout-btn:active {
  opacity: 0.3;
}

.user-links {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 280px;
  display: flex;
  justify-content: center;
}

.user-links a:hover,
.user-links a:focus {
  color: var(--color-red-01);
}

.user-links a:active {
  color: var(--color-blue-03);
  opacity: 0.3;
}

.user-links a {
  position: relative;
  color: var(--color-blue-03);
  font-size: 16px;
  line-height: 18px;
}

.user-page {
  padding-left: 20px;
  margin-left: 15px;
}

.user-page::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--color-blue-03);
  top: 50%;
  transform: translateY(-50%) ;
  left: 0;
}

.user-page:hover::before,
.user-page:focus::before {
  background-color: var(--color-red-01);
}

.user-page:active::before {
  background-color: var(--color-blue-03);
  opacity: 0.3;
}

/* главное навигационное меня */

.header-site-nav .site-nav_list {
  width: 100%;
  box-shadow: inset 0 -5px 0 var(--color-blue-04);
}

.site-nav_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style: none;

  background-color: var(--color-blue-03);
}

.site-nav_list a {
  display: block;
  padding-top: 16px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 20px;

  color:  var(--color-white-01);
  line-height: 24px;
}

.site-nav_list a:hover,
.site-nav_list a:focus {
  background-color: var(--color-blue-04);
}

.site-nav_list a:active {
  background-color: var(--color-blue-06);
  opacity: 0.6;
}

/* Промо-блок index */

.promo-block {
  display: grid;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  margin-top: 59px;
  margin-bottom: 59px;
}

.slider-container {
  position: relative;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.assortment-list {
  list-style: none;
  outline: 2px solid red;
  display: contents;
  padding: 0;
  margin: 0;
}

.service-list {
  list-style: none;
  outline: 2px solid red;
  display: contents;
  padding: 0;
  margin: 0;
}

.promo {
  position: relative;
  width: 300px;
  padding-top: 20px;
  padding-left: 23px;
  min-height: 123px;
}

.assortment-list h3 {  
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--color-white-01);
}

.service-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--color-white-01);
}

.assortment-list a {  
  color: var(--color-white-01);
  font-size: 14px;
  line-height: 18px;
}

.service-list a {
  color: var(--color-white-01);
  font-size: 14px;
  line-height: 18px;
}

.promo-btn {
  display: block;
  text-transform: uppercase;
  margin-top: 14px;
  padding: 10px;
  text-align: center;
  width: 135px;
  background-color: var(--color-white-a-03);
}

.promo-btn:hover,
.promo-btn:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-btn:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.materials {
  background-color: var(--color-yellow-03);
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.tools {
  background-color: var(--color-blue-01);
  background-image: url(../img/icon-tools.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.vehicles {
  background-color: var(--color-purple-01);
  background-image: url(../img/icon-vehicles.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.discounts {
  background-color: var(--color-green-01);
  background-image: url(../img/icon-discounts.svg);
  background-repeat: no-repeat;
  background-position: 82% 50%;
}

.delivery {
  background-color: var(--color-yellow-03);
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

/*  Промо Слайдер*/

.promo-slider {
  width: 620px;
  height: 266px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-slider a {
  color: var(--color-white-01);
}

.promo-slider h3 {
  padding: 0;
  margin: 0;
  color: var(--color-white-01);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider p {
  padding: 0;
  margin: 0;
  color: var(--color-white-01);
  font-size: 18px;
  line-height: 24px;
  margin-top: 6px;
}

.slide {
  display: none;
  padding-top: 23px;
  padding-left: 24px;
  width: 620px;
  height: 266px;
  background-color: var(--color-blue-04);
}

.slide-current {
  display: block;
}

.slide .button {
  margin-top: 112px;
  width: 192px;
}

.slider-perforators {
  background-image: url(../img/slider1.jpg);
}

.slide-drills {
  background-image: url(../img/slider2.jpg);
}

.slider-bullets {
  position: absolute;
  min-width: 35px;
  display: flex;
  justify-content: space-between;
  left: 48%;
  bottom: 33px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-bullets button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-white-01);
  border: 2px solid var(--color-white-01);
  border-radius: 50%;
  cursor: pointer;  
}

.slider-bullets .bullet-current {
  background-color: var(--color-red-01);
}

.slider-bullets button:first-child {
  margin-right: 5px;
}

.slider-arrows {
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 129px;
  left: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-arrows button {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  border-left: 3px solid var(--color-white-01);
  border-bottom: 3px solid var(--color-white-01);
  padding: 0;
  cursor: pointer;  
}

.slider-arrow-prev {
  transform: rotate(45deg);
}

.slider-arrow-next {
  transform: rotate(-135deg);
}

/* Популярные товары */

.title-wrapper {
  min-height: 89px;
  background-color: var(--color-white-02);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.title-wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-blue-03);
}

.title-wrapper .button {
  width: 192px;
}

/* Производители*/

.title-producers {
  margin-top: 70px;
  margin-bottom: 20px;
}

.partners-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.partners-list li:nth-child(4n) {
  margin-right: 0;
}

.partner-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--color-white-04);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
}

.partner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  -o-object-fit: contain;
     object-fit: contain;
}

.partner:hover,
.partner:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.partner:active {
  opacity: 0.5;
}

/* Сервисы */

.background-accent {
  background-color: var(--color-white-04);
}

.services {
  padding-top: 64px;
  margin-top: 50px;
}

.services h2,
.services h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services h2 {
  margin-bottom: 25px;
}

.services h3 {
  margin-bottom: 30px;
}

.services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services h3 {
  color: var(--color-blue-03);
}

.services p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.services p {
  width: 410px;
  margin-bottom: 70px;
}

.slider-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.services-buttons::after {
  position: absolute;
  top: -42px;
  right: 0;
  background-image: url(../img/services-slider-shadow.png);
  background-repeat: no-repeat;
}

.services-slide {
  width: 619px;
  min-height: 283px;
  height: 100%;
}

.slide-delivery p {
  width: 275px;
}

.slide-delivery {
  background-image: url(../img/img-delivery.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.slide-warranty p {
  width: 313px;
}

.slide-warranty {
  background-image: url(../img/img-warranty.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.slide-loan p {
  width: 313px;
  margin-bottom: 30px;
}

.slide-loan {
  background-image: url(../img/img-loan.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.slide-loan .button {
  width: 195px;
  border-radius: 5px;
  background-color: var(--color-red-05);
}

 .services .services-buttons {
  display: block;
  position: relative;
  width: 240px;
  margin-right: 80px;
}

.services-buttons button {
  width: 240px;
  min-height: 61px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
  border: none;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: var(--color-white-01);
  background-color: var(--color-blue-03);
  box-shadow: 0px 1px 0px var(--color-blue-04), inset 0px 1px 0px var(--color-blue-02);
  cursor: pointer;
}

.services-buttons button:hover,
.services-buttons button:focus {
  background-color: var(--color-blue-04);
  color: var(--color-white-01);
}

.services-buttons .button-current {
  background-color: var(--color-white-01);
  color: var(--color-blue-03);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.services-buttons::after {
  content: "";
  position: absolute;
  height: 279px;
  width: 10px;
  background-image: url(../img/servises-buttons-shade.png);
  background-position: 0 0;
  right: 0;
  top: -39px;
}

.services-slide {
  display: none;
}

.show {
  display: block;
}


/* About-company */

.about-company {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-company .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-info {
  width: 500px;
  padding-right: 60px;

  box-sizing: border-box;
}

.about-company-title {
  margin: 0;
  margin-bottom: 18px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company-text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
}

.company-info .about-company-text:first-of-type {
  margin-bottom: 25px;
}

.transporting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.transporting-item {
  position: relative;

  padding-left: 36px;
  line-height: 24px;
}

.transporting-item:not(:last-child) {
  margin-bottom: 13px;
}

.transporting-item::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;

  background-color: var(--color-red-01);
}

.company-info-button {
  width: 220px;
  margin-top: 20px;
}

.company-contacts {
  width: 300px;
}

.company-contacts .about-company-text {
  margin-bottom: 32px;
}

.company-contacts-button {
  margin-top: 20px;
}

/* footer-main */

.footer-main {
  color: var(--color-white-01);

  background-color: var(--color-blue-03);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
}

.logo-footer {
  display: block;
  width: 220px;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 26px;

  text-align: center;
  line-height: 0;

  background-color: var(--color-red-01);
  box-shadow: 0 5px 0 var(--color-red-04);
}

.footer-contacts-text {
  margin: 0;

  color: var(--color-white-03);
  line-height: 24px;
}

.footer-navigation {
  width: 550px;

  margin-top: 37px;
}

.site-nav_list-footer {
  justify-content: space-between;
}

.site-nav_list-footer a {
  padding: 0;

  color: var(--color-white-04);
}

.site-nav_list-footer a:hover,
.site-nav_list-footer a:focus {
  text-decoration: underline;
  background-color: var(--color-blue-03);
}

.site-nav_list-footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.site-nav_list-footer:last-child {
  padding-left: 22px;
  margin-top: 34px;
}

.site-nav_list-footer:last-child a {
  color: var(--color-yellow-01);
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: var(--color-blue-04);
}

.footer-bottom .wrapper {
  display: flex;
}

.copyright {
  min-width: 227px;

  margin: 0;
  margin-right: 150px;

  font-size: 16px;
  line-height: 18px;
}

.social-list {
  display: flex;

  padding: 0;
  margin: 0;
  margin-right: 100px;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 3px;
}

.social-list a {
  display: block;

  width: 44px;
  height: 44px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-blue-05);
  border-radius: 50%;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  background-color: var(--color-red-01);
}

.social-item-vk a {
  background-image: url("../img/icon-vk.svg");
}

.social-item-fb a {
  background-image: url("../img/icon-fb.svg");
}

.social-item-insta a {
  background-image: url("../img/icon-insta.svg");
}

.footer-bottom-text {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.footer-bottom-text a {
  color: var(--color-yellow-01);
}

.footer-bottom-email {
  margin-right: 50px;
}

.footer-bottom-email a:hover,
.footer-bottom-text a:hover,
.footer-bottom-email a:focus,
.footer-bottom-text a:focus {
  text-decoration: underline;
}

.footer-bottom-email a:active,
.footer-bottom-text a:active {
  color: var(--color-red-01);
  text-decoration: none;
}

/* CATALOG */

.catalog-grid {
  display: grid;
  grid-template-columns: 220px fr;
  grid-template-rows: -webkit-min-content -webkit-min-content fr;
  grid-template-rows: min-content min-content fr;
  align-content: start;
}

.catalog-grid .breadcrumps {
  grid-row: 1;
  grid-column: 1 / 3;
}

.catalog-grid .page-title {
  grid-row: 2;
  grid-column: 1 / 3;
}

.catalog {
  font-family: "PT Sans", "Tahoma", sans-serif;
  grid-row: 3;
  grid-column: 2;
}

/* breadcrumps catalog */

.breadcrumps {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", "Tahoma", sans-serif;
  height: 59px;
}

.breadcrumps-link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13%;
  right: -25px;
}

.breadcrumps li {
  display: block;
  position: relative;
  margin-right: 40px;
  color: var(--color-black-01);
}

.breadcrumps .breadcrumps-link-home {
  width: 14px;
  min-height: 14px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumps-link {
  display: block;
  width: 100%;
  height: 14px;
  color: var(--color-black-01);
}

.breadcrumps-link:hover,
.breadcrumps-link:focus {
  text-decoration: underline;
}

.page-title {
  background-color: var(--color-white-03);
  margin: 0;
  margin-bottom: 20px;
  min-height: 89px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--color-blue-03);
}

/* sorter section */

.sorter-section {
  min-height: 38px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--color-yellow-04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 19px;
  padding-right: 14px;
  margin-bottom: 28px;
}

.sorter-header {
  display: block;
  flex-basis: 250px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.sorter-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  flex-basis: 450px;
}

.sorter-list a {
  display: block;
  flex-basis: 113px;
  margin-right: 46px;
  color: var(--color-black-01);
  opacity: 0.3;
  -webkit-text-decoration: dotted underline var(--color-red-01);
          text-decoration: dotted underline var(--color-red-01);
}

.sorter-list a:hover,
.sorter-list a:focus {
  opacity: 1;
  -webkit-text-decoration: underline var(--color-red-01);
          text-decoration: underline var(--color-red-01);
}

.sorter-list a:active {
  color: var(--color-red-01);
  opacity: 1;
  text-decoration: none;
}

.sorter-list .current {
  color: var(--color-red-01);
  opacity: 1;
  text-decoration: none;
}

.sorter-up-down {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-basis: 50px;
}

.sorter {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-down-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.sorter:hover,
.sorter:focus {
  opacity: 1;
}

.sorter:active {
  background-image: url(../img/icon-down-red.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.sorter-up-down .current {
  background-image: url(../img/icon-down-red.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.sorter-up {
  transform: rotate(180deg);
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  gap: 18px 20px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.catalog-list-index {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
  text-align: center;
  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;
  background-color: var(--color-white-01);
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item:hover .item-purchase,
.catalog-item:focus .item-purchase {
  z-index: 1;
}

.catalog-item-title {
  display: block;
  width: 157px;
  color: var(--color-black-01);  
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.catalog-item p {
  margin: 0;  
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: block;
}

.catalog-item img {
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 170px;
}

.old-price {
  color: var(--color-white-06);
  text-decoration: line-through;
  min-height: 18px;
}

.current-price {
  position: relative;
  display: block;
  width: 115px;
  min-height: 38px;
  padding-top: 10px;
  color: var(--color-black-01);
  background-color: var(--color-red-01);
  z-index: 1;
  cursor: pointer;
}

.current-price::before {
  content: "";
  width: 141px;
  height: 38px;
  position: absolute;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: -6px;
  z-index: -1;
}

.item-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  width: 215px;
  height: 150px;
  background-color: var(--color-black-02);
  background-color: var(--color-white-01);
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.item-purchase-btn {
  position: relative;
  display: block;
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 12px;
  color: var(--text-header);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  margin-bottom: 10px;
}

.item-purchase-btn::before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url(../img/icon-cart.svg);
  opacity: 0.3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

.item-purchase-btn:hover,
.item-purchase-btn:focus {
  background-color: var(--color-green-03);
}

.item-purchase-btn:active {
  background-color: var(--color-green-04);
}

.item-bookmark-btn:hover,
.item-bookmark-btn:focus {
  border-color: var(--color-blue-03);
}

.item-bookmark-btn:active {
  border-color: var(--color-blue-03);
  opacity: 0.5;
}

.item-bookmark-btn {
  display: block;
  width: 135px;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 22px;
  padding-right: 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-blue-03y);
  border: 3px solid var(--color-green-02);
  border-radius: 2px;
}

.new-item::after {
  content: "";
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
  background-image: url(../img/icon-new.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 0;
  z-index: 1;
}

/* Filters */

.filters-all fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-white-10);
}

.filters-all fieldset:last-of-type {
  margin-top: 19px;
  margin-bottom: 2px;
  border: none;
}

.filters-all {
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  width: 220px;
  margin-right: 20px;
  grid-row: 3;
  grid-column: 1;
}

.filter-title {
  margin: 0;
  display: block;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  width: 100%;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: var(--color-yellow-04);
}

/* Filter of price */

.range-filter {
  padding-bottom: 25px;
}

.price-controls {
  width: 100%;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-controls {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 11px;
  padding: 39px 22px;
  background-color: var(--color-yellow-04);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  width: 180px;
  background-color: var(--color-white-10);
}

.scale .bar {
  height: 2px;
  width: 80%;
  background-color: var(--color-green-03);
}

.toggle {
  position: absolute;
  top: 32px;
  width: 17px;
  height: 17px;
  padding: 0;
  border: 6px solid var(--color-white-0);
  border-radius: 50%;
  background-color: var(--color-white-11);
  box-shadow: 0 2px 1px 0 var(--color-white-11);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  font-size: inherit;
  line-height: inherit;
  width: 95px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-yellow-04);
}

.price-controls p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.filter ul {
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
}

.filter .producers {
  margin-top: 18px;
  margin-bottom: 27px;
  margin-left: -3px;
}

.filter .power {
  margin-top: 24px;
  margin-bottom: 37px;
  margin-left: -3px;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid var(--color-white-13);
  border-radius: 3px;
  left: -35px;
  top: -3px;
  opacity: 0.7;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  left: -35px;
  top: -3px;
  opacity: 0.7;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:active + label::after {
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 4px solid var(--color-white-13);
  border-radius: 50%;
  left: -35px;
  top: -3px;
  opacity: 0.7;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--color-white-13);
  border-radius: 50%;
  left: -28px;
  top: 4px;
  opacity: 0.7;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:focus + label::after {
  opacity: 1;
}

.filter-input-radio:active + label::before,
.filter-input-radio:active + label::after {
  opacity: 0.4;
}

.filter-button {
  width: 100%;
  min-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--color-white-08);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}

/* переход по каталогу */

.pagination-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 59px;
  margin-top: 48px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  list-style: none;
}

.pagination-catalog a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-black-01);
  padding: 10px 15px;
  text-transform: uppercase;
}

.pagination-catalog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 38px;
  min-width: 38px;
  border: 1px solid var(--color-white-08);
  border-radius: 2px;
}

.pagination-catalog-btn:last-child {
  min-width: 140px;
}

.pagination-catalog-btn:hover,
.pagination-catalog-btn:focus {
  border-color: var(--color-white-05);
}

.pagination-catalog-btn:active {
  border-color: var(--color-red-01);
}

.pagination-catalog .current {
  background-color: var(--color-red-01);
  border: 1px solid var(--color-red-01);
}

.current a {
  color: var(--color-white-01);
}

/* описание про перфораторы */

.background {
  background-color: var(--color-white-04);
  padding-top: 64px;
  padding-bottom: 68px;
}

.perforators-description h2 {
  margin: 0;  
  padding-bottom: 25px;
  font-weight: normal;
  font-size: 30px;
  font-family: Cuprum;
  text-transform: uppercase;
  color: var(--color-black-01);
}

.perforators-description p {
  margin: 0;
  margin: 0;
  color: var(--color-black-01);
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

